.photo_holder{
    background: url(pawel-czerwinski-vI5XwPbGvmY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.container{
    width: 1000px;
    margin: auto;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    background-color: rgba(91, 203, 221, 0.409);
    color: rgb(12, 12, 12);
    margin-bottom: 0px;
}
.title{
    text-align: center;
    color:rgb(12, 12, 12);;
    font-size: 30px;
    padding-top: 20px;
    font-weight: 500;
    font-style: oblique;
    margin-bottom: 40px;
    margin-top: 0px;
}
.movie_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    
}